@import url('./slide.css');
@import url('./slide__overlay.css');
@import url('__image/slide__image.css');
@import url('./__title/slider__title.css');
@import url('./__description/slider__description.css');
@import url('./__info/slider__info.css');

.slider {
    position: relative;
    block-size: 418px;
    inline-size: 1026px;
}