.genres__card {
    width: 180px;
    height: 252px;
    background-color: var(--primary-color);
}

.genres__card {
    background-color: var(--primary-color);
    background-image: url("../../../images/genre/isekai.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.genres__card:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: var(--accent-color);
}