@import url('./slider__slide-active.css');
@import url('./__overlay/slide__overlay.css');
@import url('./__image/slide__image.css');
@import url('./__about/slide__about.css');



.slider__slide {
    display: none;
    width: 100%;
    height: 100%;
}