.section__title {
    position: relative;
    font-size: var(--h4);
    font-weight: 600;
    margin-inline-start: 16px;
}

.section__title:before {
    position: absolute;
    content: '';
    left: -16px;
    display: block;
    width: 8px;
    height: 100%;
    background-color: var(--accent-color);
}