@import url('./about__info-list__item.css');

.about__info-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    font-size: var(--h5);
    font-weight: var(--h-weight);
}